@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');

body {
    background-color: rgb(41, 0, 37);
    color: white;
    font-family: "Josefin Sans", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

img {
    width: 100%;
}

.centered {
    align-self: center;
    align-items: center;
    text-align: center;
}

.left {
    align-items: flex-start;
    align-self: flex-start;
    text-align: left;
}

@media (min-width:750px) {
    .horiz_padded_med {
        padding-left: 30%;
        padding-right: 30%;
    }
}

