:root {
  --font: 'Lato', cursive;
  --background-color: #391F51;
}

body {
  background-color: var(--background-color);
  font-family: var(--font)
}

.text {
  color: white;
  text-align: center;
}

::selection {
  background-color: #502a74;
}

.text a {
  color: lightblue;
  text-decoration: none;
}

.text a:hover {
  cursor:pointer;
  color: #6239FF;
}

/* NAVIGATION BAR & BORDERS  */

.navbar{
  background-color: #703ca0;
  margin-top: -8px;
  border-radius: 30px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  display: flex;
  justify-content: center;
}
.navbar ul{
  overflow: auto;
}

.border {
  border-color: white;
  padding: 5px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
}

.navbar img {
  float: left;
  height: 70px;
  display: flex;
  float: left;
  border-radius: 10px;
}

.navbar li{
  font-size: 25px;
  float:left;
  list-style: none; 
  margin: 13px 20px;
  
}
.navbar li a{
  padding: 3px 3px;
  text-decoration: none;
  color: white;
}

/* END */