body {
    background-color: lightblue;
    scroll-behavior: smooth;

    padding:0mm;
}

#name {
    width: auto;
    font-family: Arial;
    color: white;
    size: 15%;;

    top:-50%;
}

#motto {
    width: auto;
    font-family: Arial;
    color:darkgray;
    top:-50%;
}

.align-center {
    text-align: center;
}

.redacted {
    color: transparent;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.hidden {
    visibility: hidden;
}

#header-background {
    width: 100%;
    height: 100%;
    position: inherit;

    padding: 0px;
}

#header {
    top: -50%;
}

/* Text Allignment in Picture */
/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  p {
    color:gray;
    font-family: Arial, Helvetica, sans-serif;
  }