@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');

body {
    background-color: rgb(41, 0, 37);
    color: white;
    font-family: "Josefin Sans", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    cursor: default;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

codeblock {
    background-color: black;
    padding: .25rem;
    margin: .1rem;
    border: white 1px solid;
    border-radius: .25rem;
    color: gray;
}

.codeblock {
    background-color: black;
    padding: .25rem;
    margin: .1rem;
    border: white 1px solid;
    border-radius: .25rem;
    color: gray;
}

codeblock > highlight {
    color: white;
}

.codeblock > .highlight {
    color: white;
}

img {
    width: 100%;
}

.img-container {
    background-color: black;
    color: white;
    border: solid .125rem white;
    border-radius: 1rem;
}

.img-container > a {
    border-radius: 1rem 1rem 0rem 0rem;
}

.img-container > a > img {
    border-radius: 1rem 1rem 0rem 0rem;
}

.highlight {
    border: red 5px dashed;
    border-radius: 5px;
    background-color: white;
}

.center {
    align-self: center;
    align-items: center;
    text-align: center;
}

.left {
    align-items: flex-start;
    align-self: flex-start;
    text-align: left;
}

.header_button {
    background-color: black;
    padding: 1rem;
    margin: 1rem;
    border-radius: .5rem;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    font-family: "Josefin Sans", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:normal;
    cursor: pointer;
}

.hide_link_styles {
    text-decoration: none;
    color: white;
}

header > hr {
    margin-top: 2rem;
    color: white;
    border-style:solid;
}

.large-text {
    font-size: 2rem;
}

@media (min-width:750px) {
    .horiz_padded_med {
        padding-left: 30%;
        padding-right: 30%;
    }
}

.search-dimmer {
    background-color: rgba(0,0,0,0.5);
    position:fixed;
    left:0;
    top: 0;
    width:100%;
    height:100%;
}

.hidden {
    display:none;
}

#search-box {
    background-color: black;
    border: white .15rem solid;
    border-radius: 1rem;
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;
    height:100%;
}

@media (min-width:750px) {
    #search-box {
        background-color: black;
        border: white .15rem solid;
        border-radius: 1rem;
        position: fixed;
        bottom: 0%;
        scroll-behavior: smooth;
    }
}

#room-search-input {
    background-color: black;
    padding: .25rem;
    margin: .1rem;
    height: 50px;
    width: 90%;
    border: white .15rem solid;
    border-radius: .25rem;
    color: gray;
}

#room-search-parent {
    display: flex;
    flex-wrap: wrap;
}

.room-search-item {
    overflow: hidden;
    min-width:100%;
    min-height: 200px;
    background-color: rgb(39, 0, 31);
    border: white .15rem solid;
    border-radius: 1rem;
}

#room-search-close {
    background-color: black;
    color: white;
    border: white .15rem solid;
    border-radius: .25rem;
    cursor: pointer;
}

.frozen {
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}

@media (min-width:750px) {
    #search-box {
        left:30%;
        right:30%;
        top:10%;
    }
}